

body, html {
			font-family: Helvetica, Arial, sans-serif;
            background: url(../img/storm_clouds_bg.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
			min-height:100%;
			padding:1px 0 0 0;
			margin:-1px 0 0 0;
		}
		html{
			height:100%;
		}
		#cr-stage {
			margin:0 auto;
			font-family:"Overlock SC", Helvetica, Arial, sans-serif;
			font-size:14px;
			line-height:16px;
			margin-top:30px;
            /*background-color:#444;*/
		}
		#directions{
			text-align:center;
			margin-top:40px;
			color:#888;
			font-size:11px;
			text-transform:uppercase;
			letter-spacing:1px;
		}
		#directions p{
			margin:.75em 0;
		}